# Set Operations in R

### Performs set union, intersection, (asymmetric!) difference, equality and membership on two vectors.

In [19]:
# The 'sets' library is used to perform operations specific to sets.
# However, there are inbuilt set operations that can be applied to other objects such as vectors, lists, and tuples.
install.packages("sets")
library(sets)

Installing package into 'C:/Users/PK/Documents/R/win-library/3.6'
(as 'lib' is unspecified)
Warning message:
"package 'sets' is in use and will not be installed"

#### 1. union(x,y): Union of the sets x and y

In [27]:
x <- c(1:5)
y <- c(3:8)
print(union(x,y))

# Declaring sets s1 and s2 using operations as defined in package 'sets'.
s1 <- set(1,2,3)
s2 <- set(3,4,5)
print(s1) 
print(s2)

[1] 1 2 3 4 5 6 7 8
{1, 2, 3}
{3, 4, 5}

#### 2. intersect(x,y): Intersection of the sets x and y

In [3]:
print(intersect(x,y))

[1] 3 4 5

#### 3. setdiff(x,y): Set difference between x and y, consisting of all elements of x that are not in y

In [4]:
print(setdiff(x,y))
print(setdiff(y,x))

[1] 1 2
[1] 6 7 8

#### 4. setequal(x,y): Test for equality between x and y

In [5]:
print(setequal(x,y))
print(setequal(x, c(1:5)))

[1] FALSE
[1] TRUE

#### 5. c %in% y: Membership, testing whether c is an element of the set y

In [7]:
print(8 %in% y)

[1] TRUE

#### 6. choose(n,k): Number of possible subsets of size k chosen from a set of size n

In [8]:
print(choose(x,4))

[1] 0 0 0 1 5

## Operations from package 'sets'
#### 1. Boolean returning functions

In [49]:
is.set(s1)
set_is_empty(s1)
s3 <- set(3,4,5,6,7)
set_is_subset(s3, s2)
set_is_proper_subset(s3, s2)
set_is_equal(s1, s3)
set_contains_element(s3, 7)
# Subset
s2 <= s3
# Proper subset
s2 < s3

[1] TRUE

[1] FALSE

[1] FALSE

[1] FALSE

[1] FALSE

[1] TRUE

[1] TRUE

[1] TRUE

#### 2. Basic set operations

In [62]:
print(set_union(s1, s2)); print(set_intersection(s1, s2)); 
print(set_symdiff(s1, s2)); print(set_symdiff(s2, s1));
print(set_complement(s1, s2))
print(set_cardinality(s1))

{1, 2, 3, 4, 5}
{3}
{1, 2, 4, 5}
{1, 2, 4, 5}
{4, 5}
[1] 3

#### 3. Products on sets

In [51]:
## Cartesian Product
print(set_cartesian(s1, s2)) # same as s1 * s2
print(s2 * s2)               # same as s2 ^ 2

## Power set
print(set_power(s1))         # same as 2 ^ s1

{(1, 3), (1, 4), (1, 5), (2, 3), (2, 4), (2, 5), (3, 3), (3, 4), (3,
 5)}
{(3, 3), (3, 4), (3, 5), (4, 3), (4, 4), (4, 5), (5, 3), (5, 4), (5,
 5)}
{{}, {1}, {2}, {3}, {1, 2}, {1, 3}, {2, 3}, {1, 2, 3}}

#### Miscellaneous

In [50]:
# Iterators
sapply(s1, sqrt)
for (i in s1) print(i)

# Summary methods
sum(s1)
range(s1)

# mean / median
mean(s1)
median(s1)

# cardinality
s <- set(1, list(1, 2))
length(s)
lengths(s)

[1] 1.000000 1.414214 1.732051

[1] 1
[1] 2
[1] 3

[1] 6

[1] 1 3

[1] 2

[1] 2

[1] 2

[1] 1 2