# DPLYR Practice

In [ ]:
install.packages('dplyr')
library(dplyr)

In [26]:
df = mtcars
head(df)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

### select - used to select columns

In [5]:
head(select(df, cyl, disp, carb))

                  cyl disp carb
Mazda RX4         6   160  4
Mazda RX4 Wag     6   160  4
Datsun 710        4   108  1
Hornet 4 Drive    6   258  1
Hornet Sportabout 8   360  2
Valiant           6   225  1

### arrange - to sort data in a table in ascending order

In [10]:
head(arrange(df, mpg), 3)
head(arrange(df, mpg, qsec)) # arranges first by mpg then by qsec in ascending order

                    mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Cadillac Fleetwood  10.4 8   472  205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460  215 3.00 5.424 17.82 0  0  3    4
Camaro Z28          13.3 8   350  245 3.73 3.840 15.41 0  0  3    4

                    mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Lincoln Continental 10.4 8   460  215 3.00 5.424 17.82 0  0  3    4
Cadillac Fleetwood  10.4 8   472  205 2.93 5.250 17.98 0  0  3    4
Camaro Z28          13.3 8   350  245 3.73 3.840 15.41 0  0  3    4
Duster 360          14.3 8   360  245 3.21 3.570 15.84 0  0  3    4
Chrysler Imperial   14.7 8   440  230 3.23 5.345 17.42 0  0  3    4
Maserati Bora       15.0 8   301  335 3.54 3.570 14.60 0  1  5    8

### filter - filter dataset on given condition

In [29]:
filter(df, (hp>200) & (drat<3.00))

                   mpg  cyl disp hp  drat wt   qsec  vs am gear carb
Cadillac Fleetwood 10.4 8   472  205 2.93 5.25 17.98 0  0  3    4

### mutate - to create a new column

In [30]:
head(mutate(df, WattPower = hp*745.69), 5)

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb WattPower
1 21.0 6   160  110 3.90 2.620 16.46 0  1  4    4     82025.90
2 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4     82025.90
3 22.8 4   108   93 3.85 2.320 18.61 1  1  4    1     69349.17
4 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1     82025.90
5 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2    130495.75

### transmute - to create a new column and only give it as the output rather than entire dataframe

In [32]:
mtHead = head(mtcars)
transmute(mtHead, WattPower = hp*745.69)

  WattPower
1  82025.90
2  82025.90
3  69349.17
4  82025.90
5 130495.75
6  78297.45

### distinct - to find first occurence of unique data or values

In [24]:
distinct(df, vs)

           vs
Mazda RX4  0
Datsun 710 1

In [27]:
head(arrange(select(filter(df, gear==4), hp, wt, gear), hp))

               hp wt    gear
Honda Civic    52 1.615 4
Merc 240D      62 3.190 4
Toyota Corolla 65 1.835 4
Fiat 128       66 2.200 4
Fiat X1-9      66 1.935 4
Datsun 710     93 2.320 4

### Above line has many nested functions making it lose legibility

### Hence, we use the pipe operator for nesting(chaining) of functions

In [28]:
df %>% filter(gear==4) %>% select(hp, wt, gear) %>% arrange(hp) %>% head

               hp wt    gear
Honda Civic    52 1.615 4
Merc 240D      62 3.190 4
Toyota Corolla 65 1.835 4
Fiat 128       66 2.200 4
Fiat X1-9      66 1.935 4
Datsun 710     93 2.320 4